@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --bg-branco: #ffffff;
  --bg-preto: #000000;
  --texto-azul: #1b52de;
  --bg-button: #4673e3;
  --texto-branco: #ffffff;
  --texto-preto: #000000;
  --cinza: #9e9e9e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  background-color: var(--bg-branco);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--bg-branco);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  transition: 0.3s ease-in-out;
  z-index: 1000;
}

.logo {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--texto-preto);
}

nav ul {
  list-style: none;
  display: flex;
  row-gap: 0.3rem;
}

nav ul li a {
  text-decoration: none;
  color: var(--texto-preto);
  font-size: 1.6rem;
  font-weight: bold;
  padding: 6px 6px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
  color: var(--texto-branco);
  background: var(--bg-button);
}

#dev {
  color: var(--texto-azul);
}

.hero {
  background: var(--bg-branco);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  height: 100dvh;
}

.hero-conteudo h1 {
  font-size: 4rem;
  color: var(--texto-azul);
}

.hero-conteudo p {
  font-weight: bold;
  font-size: 2.5rem;
}

.dev-fundo {
  border-radius: 5px;
  margin: 3px 25px;
  color: var(--texto-branco);
  background: var(--cinza);
  font-size: 2rem;
}

.icons-cinza {
  color: var(--cinza);
  font-size: 3rem;
  padding: 0px 4px;
}

.sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--bg-branco);
  height: 100dvh;
}

.profile-img{
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  box-shadow: 0px 0px 50px rgba(27, 82, 222, 0.5);
  transition: all 0.3s ease-in-out;
}

.profile-img:hover{
  transform: scale(1.03);
  box-shadow: 0px 0px 50px rgba(27, 82, 222, 1);
}

.sobre-texto {
  padding: 0px 20px;
}

.sobre-texto h2 {
  color: var(--texto-azul);
  font-size: 2.6rem;
  margin: 20px 0px;
}

.sobre-texto p {
  font-size: 2rem;
  text-align: justify;
}

.hab {
  display: inline-block;
  background: var(--bg-branco);
  width: 100%;
  padding: 1rem;
}

.hab-list {
  display: flex;
  justify-content: center;
  padding: 20px 5px;
}

.hab-list img{
  width: 35px;
  margin-right: 5px;
}

.hab-list ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.hab-icons {
  display: flex;
  align-items: center;
  background: rgba(37, 99, 235, 0.2);
  border-radius: 5px;
  padding: 7px 10px;
  transition: all 0.3s ease-in-out;
}

.hab-icons p {
  color: var(--texto-azul);
  font-weight: bold;
  font-size: 15px;
}

.hab-icons:hover {
  transform: scale(1.05);
}

.hab-texto {
  text-align: center;
}

.hab-texto h2 {
  font-size: 2.6rem;
  color: var(--texto-azul);
  margin-bottom: 10px;
}

.hab-texto p {
  font-size: 2rem;
  color: var(--texto-preto);
}

footer {
  background-color: var(--bg-preto);
  color: var(--texto-branco);
  text-align: center;
  padding: 10px;
  font-size: 1.4rem;
  position: relative;
  bottom: 0;
  width: 100%;
}
